.formControl.error input,
.formControl.error textarea
{
    border: solid #ff2b41 2px ;
}

.formControl.error span
{
    color: #0f344d;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: #17191a;
}