.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 800px);
    grid-auto-rows: auto ;
    padding: 10px;
}

 .showMore {
     display: grid;
     justify-items: center;
     grid-template-rows: 100px ;

}
.showMore  button {
     height: 50px;
    width: 200px;
}