.user {
    display: grid;
    grid-template-columns: 5fr 15fr;
    padding: 10px;
}

.user img {

}

.status {
    margin: 10px;
}

.user blockquote {
    margin-top: 50px;
    margin-right: 300px;
}